<a class="dropdown-toggle" data-toggle="dropdown" href="#">
  {{currency.symbol}} <span class="caret"></span>
</a>
<ul class="dropdown-menu">
  <li>
  <a data-ng-click="setCurrency('USD')" data-ng-class="{active: currency.symbol == 'USD'}">USD</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('CMM')" data-ng-class="{active: currency.symbol == 'CMM'}">CMM</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('mCMM')" data-ng-class="{active: currency.symbol == 'mCMM'}">mCMM</a>
  </li> 
  <li>
  <a data-ng-click="setCurrency('bits')" data-ng-class="{active: currency.symbol == 'bits'}">bits</a>
  </li>
</ul>

